<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWbw1r9QsskormhnOJjiFI6bMHWrl7nCg</string>
	<key>GCM_SENDER_ID</key>
	<string>779737113322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuumamobile.KPSSPuanHesaplama</string>
	<key>PROJECT_ID</key>
	<string>kpsspuanhesaplama-4f986</string>
	<key>STORAGE_BUCKET</key>
	<string>kpsspuanhesaplama-4f986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779737113322:ios:21d40363d9b66995c1ad93</string>
</dict>
</plist>